examples/range-peak.json
[
    {
        "id": "31acf1fa8cf811d0",
        "type": "tab",
        "label": "peak-range",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c5ea74ba9b11a827",
        "type": "comment",
        "z": "31acf1fa8cf811d0",
        "name": "A node that filters values within a specified range and finds the peak value.",
        "info": "",
        "x": 300,
        "y": 60,
        "wires": []
    },
    {
        "id": "431e35e44d63e833",
        "type": "modbus-read",
        "z": "31acf1fa8cf811d0",
        "name": "SDM 120 Voltage",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "0",
        "quantity": "2",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "b69d19ed.84d768",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "7dc286803c3dbba5"
            ],
            []
        ]
    },
    {
        "id": "7dc286803c3dbba5",
        "type": "energy-meter",
        "z": "31acf1fa8cf811d0",
        "name": "",
        "x": 350,
        "y": 220,
        "wires": [
            [
                "4c07750c86b91d0e"
            ]
        ]
    },
    {
        "id": "4c07750c86b91d0e",
        "type": "peak-value-range",
        "z": "31acf1fa8cf811d0",
        "name": "Detect peak",
        "min": "220",
        "max": "250",
        "x": 570,
        "y": 220,
        "wires": [
            [
                "1ace163afc3e6219"
            ]
        ],
        "icon": "font-awesome/fa-line-chart"
    },
    {
        "id": "1ace163afc3e6219",
        "type": "debug",
        "z": "31acf1fa8cf811d0",
        "name": "debug 300",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 790,
        "y": 220,
        "wires": []
    },
    {
        "id": "b69d19ed.84d768",
        "type": "modbus-client",
        "name": "Energy Meter",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": false,
        "failureLogEnabled": false,
        "tcpHost": "10.10.100.254",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "",
        "unit_id": 1,
        "commandDelay": 30,
        "clientTimeout": 2000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 5000,
        "parallelUnitIdsAllowed": false
    }
]