examples/range-peak.json
[
    {
        "id": "31acf1fa8cf811d0",
        "type": "tab",
        "label": "peak-range",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c5ea74ba9b11a827",
        "type": "comment",
        "z": "31acf1fa8cf811d0",
        "name": "A node that filters values within a specified range and finds the peak value.",
        "info": "",
        "x": 300,
        "y": 60,
        "wires": []
    },
    {
        "id": "431e35e44d63e833",
        "type": "modbus-read",
        "z": "31acf1fa8cf811d0",
        "name": "SDM 120 Voltage",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "0",
        "quantity": "2",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "b69d19ed.84d768",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "7dc286803c3dbba5"
            ],
            []
        ]
    },
    {
        "id": "7dc286803c3dbba5",
        "type": "energy-meter",
        "z": "31acf1fa8cf811d0",
        "name": "",
        "x": 350,
        "y": 220,
        "wires": [
            [
                "4c07750c86b91d0e"
            ]
        ]
    },
    {
        "id": "4c07750c86b91d0e",
        "type": "peak-value-range",
        "z": "31acf1fa8cf811d0",
        "name": "Detect peak",
        "min": "220",
        "max": "250",
        "x": 570,
        "y": 220,
        "wires": [
            [
                "1ace163afc3e6219",
                "b5beb5f3727fdf68",
                "51db90ce4718060c",
                "0d7ed34fde064b6b",
                "20767f26fcde337d"
            ]
        ],
        "icon": "font-awesome/fa-line-chart"
    },
    {
        "id": "1ace163afc3e6219",
        "type": "debug",
        "z": "31acf1fa8cf811d0",
        "name": "debug 300",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 790,
        "y": 220,
        "wires": []
    },
    {
        "id": "b5beb5f3727fdf68",
        "type": "function",
        "z": "31acf1fa8cf811d0",
        "name": "status",
        "func": "var status = msg.payload.status\n\nmsg.payload = status;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 440,
        "wires": [
            [
                "a729e6910a1ab180",
                "83cc2ed684fe1e48"
            ]
        ]
    },
    {
        "id": "a729e6910a1ab180",
        "type": "debug",
        "z": "31acf1fa8cf811d0",
        "name": "debug 301",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 990,
        "y": 540,
        "wires": []
    },
    {
        "id": "51db90ce4718060c",
        "type": "function",
        "z": "31acf1fa8cf811d0",
        "name": "peakValue",
        "func": "var peakValue = msg.payload.peakValue\n\nmsg.payload = peakValue;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 320,
        "wires": [
            [
                "11c1d6c2b73cb61a"
            ]
        ]
    },
    {
        "id": "0d7ed34fde064b6b",
        "type": "function",
        "z": "31acf1fa8cf811d0",
        "name": "min",
        "func": "var min = msg.payload.min;\n\nmsg.payload = min;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 360,
        "wires": [
            [
                "afa135262a5b6e3b"
            ]
        ]
    },
    {
        "id": "20767f26fcde337d",
        "type": "function",
        "z": "31acf1fa8cf811d0",
        "name": "max",
        "func": "var max = msg.payload.max;\n\nmsg.payload = max;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 400,
        "wires": [
            [
                "5a1bca1eba88fd53"
            ]
        ]
    },
    {
        "id": "83cc2ed684fe1e48",
        "type": "ui_text",
        "z": "31acf1fa8cf811d0",
        "group": "1e1cb181.5f2e01",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1150,
        "y": 440,
        "wires": []
    },
    {
        "id": "5a1bca1eba88fd53",
        "type": "ui_text",
        "z": "31acf1fa8cf811d0",
        "group": "1e1cb181.5f2e01",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "max",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1150,
        "y": 400,
        "wires": []
    },
    {
        "id": "afa135262a5b6e3b",
        "type": "ui_text",
        "z": "31acf1fa8cf811d0",
        "group": "1e1cb181.5f2e01",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "min",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1150,
        "y": 360,
        "wires": []
    },
    {
        "id": "11c1d6c2b73cb61a",
        "type": "ui_text",
        "z": "31acf1fa8cf811d0",
        "group": "1e1cb181.5f2e01",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "peak",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1150,
        "y": 320,
        "wires": []
    },
    {
        "id": "b69d19ed.84d768",
        "type": "modbus-client",
        "name": "Energy Meter",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": false,
        "failureLogEnabled": false,
        "tcpHost": "10.10.100.254",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "",
        "unit_id": 1,
        "commandDelay": 30,
        "clientTimeout": 2000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 5000,
        "parallelUnitIdsAllowed": false
    },
    {
        "id": "1e1cb181.5f2e01",
        "type": "ui_group",
        "name": "Peak",
        "tab": "324fffd2c6849c89",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "324fffd2c6849c89",
        "type": "ui_tab",
        "name": "Peak",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]